*.log
build*
.clangd/
.vscode/
.idea/
.cache/
cmake-build-debug/
cmake-build-release/
cmake-build-*/
compile_commands.json

test/scratches/
local_opts.*
test/Scratches/
*.code-workspace
Output/

.ipynb_checkpoints
t-*.ipynb
*.vim
.vs
.exrc
*autosave*
*~
.lit*

### custom
## converted from .qasm to MLIR (with tools/openqasm-to-mlir.py)
*.qasm.mlir
## intermediate MLIR files (quantum-opt pipeline)
*.opt.mlir
## converted from MLIR to qasm (with tools/quantum-translate)
*.final.qasm
