*.log
build/
.clangd/
.vscode/
.idea/
.cache/
cmake-build-debug/
cmake-build-release/
cmake-build-*/
compile_commands.json

test/scratches/
notes/
local_opts.sh
test/Scratches/
qmlir.code-workspace
Output/
