*.log
build/
.clangd/
.vscode/
.idea/
.cache/
cmake-build-debug/
cmake-build-release/
cmake-build-*/
compile_commands.json

test/scratches/
notes/
local_opts.*
test/Scratches/
*.code-workspace
Output/

.ipynb_checkpoints
*.vim
.vs
